{% extends "../base.html" %}


{% load static %}

{% block login-logout %}

  <section class="clearfix" style="padding-top:150px">
    <div class="container h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col borderdiv">             
              <h4>Create Account</h4>
              <form method="post" action="/signup/" class="contactForm">
               {% csrf_token %}
                <table class='formtable'>
                {% for field in form %}
                  <tr class='formTableRow'>
                    <td class="formTableCell">{{ field.label_tag }}</td>
                    <td class="formTableCell">{{ field }}</td>
                  </tr>

               {% endfor %}
                <tr>
                  <td class="formTableCell">&nbsp;</td>
                  <td class="formTableCell"> 
                    <input type="submit" title="Create Account" value="Create Account" class="button_blue">
                  
                    
                  </td>
                </tr>
              </table>         

                
              </form>

              
              
            
        </div>
         
       

       

        <div class="col borderdiv">             
            <h4>Sign Up Using</h4>

            <table class='formtable'>
                
                <tr>
                 
                  <td class="formTableCell"> 
                    <!-- <div id="my-signin2" class="g-signin2" data-onsuccess="onSignIn"></div>                  -->
                     <input type="submit" title="Google" value="Google" class="button_blue"/>
                    
                  </td>
                   </tr>
                    <tr>
                  <td class="formTableCell"> 
                    
                    <input type="submit" title="Facebook" value="Facebook" class="button_blue"/>
                  
                    
                  </td>
               
              </table>    

              
              
            
        </div>
        
  
         

    </div>
  </section><!-- #intro -->

 {%endblock%}


 {% block header %}
    
{% include "header.html" %}

 {% endblock %} 

 {% block page_specific_js %} 

     <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
     <script language="javascript">
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
      }

      function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
     </script> -->

{% endblock %}

{% block page-meta %} 

     <!-- <meta name="google-signin-client_id" content="975301356530-qfa80s5a1vl00lgjmukg0p1tugck21h3.apps.googleusercontent.com"> -->


{% endblock %}


