{% extends 'base.html' %}

{% load static %}




{% block side-question-tray %}

 <section id="side_tray" class="section-bg" style="padding-top:150px">
  <input type='hidden' name="csrfmiddlewaretoken" id='csrfmiddlewaretoken' value="{{csrf_token}}"/>
  <input type='hidden' value={{formID}} id='formID'/>
      <div class='container'>
         <header class="section-header">
          <h3>Edit your PDF</h3>
          
          <h6>The section on the left shows fields for your PDF. Click on the field data to edit it.</h6>
          <h6>The section on the right shows your generated PDF</h6>
        </header>
      <div class="row justify-content-center align-self-center no-gutters">
        
    		<div class="col alternate_rows ">

    			{%for userData in userFormDataSet %}

      			<div class='container justify-content-center align-self-center'>
      					<div class="question_description row"><b>{{userData.field__field_description}}</b></div> 
      					<div class='question_data double-click-edit row'>
                  {{userData.field_text}}
                  
                </div>
                <div class='question_data_edit row'>
                  <input type='text' data-id='{{userData.field}}' value='{{userData.field_text}}'/>
                </div>
                <div class='question_data_edit row' style='padding-top:5px'>
                    <div class="button_blue saveEditField"> Save </div> 
                    <div class="button_blue cancelEditField"> Cancel </div>
                </div>
               
      				</div>
    			{%endfor%}
    		</div> <!-- column-->

        <div class="col-9 bordergray">
            <iframe src="/viewPDF/{{formID}}" width="100%" height='100%' scrolling="true"></iframe> 
         </div>
  		
	  </div> <!--Row -->
  </div> <!--Container -->
    </section><!-- #team -->


{% endblock%}

{% block pdf_iframe %}

{% endblock %}

{% block header %}
    
{% include "header.html" %}

{% endblock %}   

{% block page_specific_js %} 
    <script src="{% static 'lib/jqueryui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/pdfmerge.js' %}"></script>
    <script src="{% static 'js/editableField.js' %}"></script>
{% endblock %}





