
{% extends 'base.html' %}

{% load static %}

{% block team %}
  
    <section id="team" class="section-bg" style="padding:200px 0px" >
      <div class="container">
        <div class="section-header">
          <h3>Available Forms</h3>
          <p>Choose your form amongst the list below</p>
        </div>
        
        <div class="row">
          {% for form in systemforms %}
          <div class="col-lg-3 col-md-6 ">
            <div class="member">
              <img src="{{form.image.url}}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>{{form.pdf_name}}</h4>
                  <span>{{form.pdf_description}}</span>
                  <div class="social">
                    <a href="/addForm/{{form.id}}" title='Add Form to my Account'><i class="fa fa-plus"></i></a>                   
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% endfor %}          

          

        </div>

      </div>
    </section><!-- #team -->
{% endblock %}


 {% block header %}
    
{% include "header.html" %}

 {% endblock %}  

   

  
