{% extends 'base.html' %}
{% load static %}
{% block spacer %} 
<div style="height:100px;background: #f5f8fd;">&nbsp;</div>
 {% endblock %}


{% block additional_questions %}
	<section id="faq" style="background: #f5f8fd;">
      <div class="container">
        <header class="section-header">
          <h3>Success</h3>
          <h6>You have chosen to create the {{formObject.pdf_name}}.</h6>
          {% ifnotequal questionCount 0 %}
          	<h6>Please add answers for questions below. The values saved in your profile have been populated. Please review and change them if they are incorrect.</h6>
          {% endifnotequal %}
          <h6> Click Generate PDF (button on the bottom) to view your completed form</h6>
        </header>
        <div style='margin-top: 20px'>
        	&nbsp;
        </div>

        <form action="/saveDynamicData/{{form_id}}" method="post" role="form" class="contactForm">
        {% csrf_token %}
        <input type="hidden" name='fieldIDs' value={{fieldIDS}}></input>
       	<div class='alternate_rows'> 
        {% for question in missingQuestions%}
           	<div class='question_row'>        
            	<h5><b>{{question.field__field_description}} </b></h5>
              <h6>Q. {{question.field__field_question}}</h6>
            	{% ifequal question.field__field_display 'FULLDATE' %}
		            <div>	              
		                A. <input type="text" size="40" name="{{question.field}}" value='{{question.field_text}}' class='datefield'>

		                	
		                </input>

		            </div>
	            {% else %}
		            <div>	              
		                A. <input type="text" size="40" name="{{question.field}}" value='{{question.field_text}}'></input>		                
		            </div>
	            {%endifequal%}
          	</div>

          {% endfor%}

       	</div>


        <div>
            <input type="submit" value='Generate PDF' title='Save to Continue' class="button_blue"></a>
      	</div>
    </form>


      </div>
     
    </section><!-- #faq -->

 {% endblock %}

 {% block page_specific_css %} 
 <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">

   {% endblock %}

   {% block page_specific_js %} 
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{% static 'js/pdfmerge.js' %}"></script>
   {% endblock %}

   

   {% block header %}
    
{% include "header.html" %}

 {% endblock %} 