.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

div.alternate_rows
{
	margin-bottom:20px;
  border :1px solid #CCCCCC;
	
}
div.alternate_rows > div
{
  border-bottom: 1px solid #CCCCCC;

  
}
div.alternate_rows > div:nth-of-type(odd) {
    background: #FFFFFF;

    

}
div.alternate_rows > div:nth-of-type(even) {
    background: ##f5f8fd;
    
   
    
}
div.question_row
{
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	margin-bottom:0px;
}
.fa_big
{

}

div.user_info
{

  margin-left:50px;
  /*margin-top:-10px;*/
  text-align:center;
  
  
}
.column14 {
  float: left;
  width: 25%;
  height: 100%;
  overflow:scroll;
}
.column34 {
  float: left;
  width: 75%;
  height: 100%;
  overflow:scroll;
}

/* Clear floats after the columns */
.custom_row:after {
  content: "";
  display: table;
  clear: both;
}
.custom_row
{
  padding-left:20px;
  
  height:500px;
}
.borderblack{
  /*border:1px solid #000000;*/
  
}
.bordergray{
  /*border: 1px solid #CCCCCC;*/
}

.column34 >iframe
{
  width: 100%; height: 100%; border: none; margin: 0; padding: 0; display: block;
}
.question_description
{
  font-size:16px;
  padding:5px;
}
.question_data
{
  font-size: 15px;
  cursor:pointer;
  text-decoration:underline;
  padding:5px;
}
.question_data_edit
{
  font-size: 14px;
  display:none;
  padding:5px;
}

table.formtable
{
  width:100%;
}
tr.formTableRow 
{
  padding:10px;
}

td.formTableCell 
{
  padding:10px;
}

.borderdiv{
  border:1px solid #cccccc;
  padding:10px;
}


